.product-edit-image-container {
  display: flex;
  & > div {
    box-shadow: -5px 0 0 -4px lighten($color2, 20%);
  }
  & > div:last-child {
    box-shadow: -5px 0 0 -4px lighten($color2, 20%),
                5px 0 0 -4px lighten($color2, 20%);
  }
}


.product-edit-image-box {
  width: calc(100% / 8);
  padding: 5px;
  border-radius: 2px;
  div {
    text-align: center;
  }
}

.product-edit-image-thumb {
  width: 100%;
}
