html {
  background-color: $color2;
}
h1, h2, h3, h4, h5, h6, p, i, li, ul, ol, span, div, select, button, input, th, td, a, img, caption, label {
  transition: all 300ms ease;
}
a {
  text-decoration: none !important;
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

body {
  padding-top: 70px;
}

.page-name {
  font-size: 1.75em;
  margin: 10px 0;
  text-align: center;
  color: $color2; //rgba(28, 29, 33, 0.6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1),
               0 0 0 rgba(242, 239, 239, 0.8),
               0 -1px 0 rgba(28, 29, 33, 0.8);
  span {
    font-style: italic;
    color: $color7;
  }
}

input, select {
  border-bottom-right-radius: 15px 100% !important;
  border-bottom-left-radius: 15px 100% !important;
  border-top-right-radius: 15px 100% !important;
  border-top-left-radius: 15px 100% !important;
  border: 1px solid rgba(255,255,255,0.5);
}


