html {
  background-color: $color2;
}
h1, h2, h3, h4, h5, h6, p, i, li, ul, ol, span, div, button, input, th, td, a, img, caption, label {
  transition: all 300ms ease;
}
a {
  text-decoration: none !important;
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

body {
  padding-top: 70px;
}
