
<div class="footer-cillas_wardrobe-container">
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <div class="footer-side-column">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="footer-middle-column">
        <div>© <%= Time.now.year %> Cecilia Frick Welch. All rights reserved.</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="footer-side-column">
        <ul>
          <li><a href="">about</a></li>
          <li><a href="">terms & conditions</a></li>
          <li><a href="">unfamous fashion notes</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

