<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1"><!-- col-md-8 col-md-offset-2 -->
    <div class="row">
      <h1 style="font-family: 'LittleLord';">Brand Title Font: 'LittleLord' - Ä Ö Å ä ö å</h1>
      <h1 style="">H tags: 'MicroFLF' - Ä Ö Å ä ö å</h1>
      <p>Content Font: 'MicroFLF' - Here are some special characters in a 'p' tag: Ä, Ö, Å, ä, ö, å, @, #, €, %, &, $, ?, *</p>
    </div>
    <hr>
    <div class="row">
      <ul>
        <li>This is an unordered list</li>
        <li>This is an unordered list</li>
        <li>This is an unordered list</li>
      </ul>
      <ol>
        <li>This is an ordered list</li>
        <li>This is an ordered list</li>
        <li>This is an ordered list</li>
      </ol>
    </div>
    <hr>
    <div class="row">
      <button class="btn btn-primary add-brand-button">Button Primary</button><br>
      <button class="btn btn-success add-brand-button">Button Success</button><br>
      <button class="btn btn-info add-brand-button">Button Info</button><br>
      <button class="btn btn-warning add-brand-button">Button Warning</button><br>
      <button class="btn btn-danger add-brand-button">Button Danger</button><br>

    </div>
    <hr>

    <div class="row">
      <h3>Landing Page Cards</h3>


      <div class="col-xs-12 col-md-4">
        <div class="landing-page-card-outer">
          <div class="landing-page-card-inner">
            <a href="">
              <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://images.unsplash.com/photo-1509319117193-57bab727e09d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')">
              </div>
              <div class="landing-page-card-cta">
                Shop Clothing
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="landing-page-card-outer">
          <div class="landing-page-card-inner">
            <a href="">
              <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://urbanclosets.co/wp-content/uploads/2016/11/Logo-Urban-Closets-Kelowna-Shoe-Organizer-ORB-1024x682.jpg')">
              </div>
              <div class="landing-page-card-cta">
                Shop Shoes
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="landing-page-card-outer">
          <div class="landing-page-card-inner">
            <a href="">
              <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
              </div>
                <div class="landing-page-card-cta">
                  Shop Home
                </div>
            </a>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">

    </div>
  </div>
</div>
