
<div class="hero-banner-outer">
  <div class="landing-page-banner-content">
    <h1>Welcome to Cilla's Waredrobe</h1>
    <h3>the smart way to find fashion &amp; design</h3>

    <div class="container">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">

          <div class="col-xs-12 col-md-4">
            <div class="landing-page-card-outer">
              <div class="landing-page-card-inner">
                <%= link_to clothing_path do %>
                  <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://images.unsplash.com/photo-1509319117193-57bab727e09d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')">
                  </div>
                  <div class="landing-page-card-cta">
                    Shop Clothing
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="landing-page-card-outer">
              <div class="landing-page-card-inner">
                <a href="">
                  <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://urbanclosets.co/wp-content/uploads/2016/11/Logo-Urban-Closets-Kelowna-Shoe-Organizer-ORB-1024x682.jpg')">
                  </div>
                  <div class="landing-page-card-cta">
                    Shop Shoes
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="landing-page-card-outer">
              <div class="landing-page-card-inner">
                <a href="">
                  <div class="landing-page-card-image-container" style="background-image: linear-gradient(-25deg, rgba(28, 29, 33, 0.75)0%, rgba(151, 125, 155, 0.35)50%, rgba(28, 29, 33, 0.5)100%), url('https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
                  </div>
                    <div class="landing-page-card-cta">
                      Shop Home
                    </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- landign page cards -->
  </div>



</div>



