.add-brand-button {
  margin: 5px;
  box-shadow: inset 0 30px 25px -20px rgba(255, 255, 255, 0.5),
              inset 0 -30px 25px -20px rgba(0, 0, 0, 0.5),
              0 0 0 1px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 15px 100% !important;
  border-bottom-left-radius: 15px 100% !important;
  border-top-right-radius: 15px 100% !important;
  border-top-left-radius: 15px 100% !important;
  border: 1px solid rgba(255,255,255,0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}



// .btn-primary {
//   background: linear-gradient(0deg, rgba(255,255,255,0.15)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.15)49%, rgba(255,255,255,0.15)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.15)100%) !important;
//   background-color: $brand-primary !important;
//   &:hover {
//     background: linear-gradient(180deg, rgba(255,255,255,0.35)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.35)49%, rgba(255,255,255,0.35)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.35)100%) !important;
//     background-color: $brand-primary !important;
//   }
// }
// .btn-info {
//   background: linear-gradient(0deg, rgba(255,255,255,0.15)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.15)49%, rgba(255,255,255,0.15)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.15)100%) !important;
//   background-color: $brand-info !important;
// }
// .btn-success {
//   background: linear-gradient(0deg, rgba(255,255,255,0.15)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.15)49%, rgba(255,255,255,0.15)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.15)100%) !important;
//   background-color: $brand-success !important;
// }
// .btn-danger {
//   background: linear-gradient(0deg, rgba(255,255,255,0.15)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.15)49%, rgba(255,255,255,0.15)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.15)100%) !important;
//   background-color: $brand-danger !important;
// }
// .btn-warning {
//   background: linear-gradient(0deg, rgba(255,255,255,0.15)0%,  rgba(0,0,0,0)25%, rgba(0,0,0,0.15)49%, rgba(255,255,255,0.15)50%, rgba(0,0,0,0)25%, rgba(0,0,0,0.15)100%) !important;
//   background-color: $brand-warning !important;
// }


// .btn {
//   text-shadow: 0 0 0 $color1; // 0 0 2px $color1, 0 0 1px $color1;
//   border: 1px solid rgba(255,255,255,0.3);
// }



