.navbar-cillas_wardrobe {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
  background: $color5;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


/* Logo */
.navbar-cillas_wardrobe-brand {
  display: flex;
  img {
    height: 50px;
    margin-right: 10px;
  }
  div.navbar-site-title {
    position: relative;
    top: 3px;
    padding: 0;
    margin: 0;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    color: $color2;
    font-family: "LittleLord", "cursive";
    text-decoration: none;
    letter-spacing: -1px;
  }
}

.navbar-cillas_wardrobe-link {
  color: $color1;
  font-size: 14px;
  cursor: pointer;
}

.navbar-avatar-initials {
  box-shadow: 0 0 0 2px rgba(151, 125, 155, 1);
  border-radius: 50%;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
