<div class="container">
<%#= image_tag("#{@product.photos[0]}", height: 300, crop: :fill) %>
<% (0...@product.photos.count).each do |img| %>
<%= image_tag(@product.photos[img], style: "height:300px;") %>
<% end %>
</div>
