<div class="container">
<%# (0...@product.photos.count).each do |img_index| %>
<h3>Front Image:</h3>
<%= image_tag(@product.photos[0], style: "height:300px;") %>
<h3>Back Image:</h3>
<%= image_tag(@product.photos[1], style: "height:300px;") %>

<%# end %>

</div>
